%header
  .container
    .header-title
      %h1
        = link_to "Let's Play NovaBlitz", root_path
    %nav
      %ul
        %li
          = link_to 'CARDS', cards_path
          = link_to 'DECK BUILDER(作成中)', ''
          / = link_to 'このサイトについて', ''
          - if !user_signed_in?
            = link_to 'ログイン', new_user_session_path
          - if user_signed_in?
            = link_to 'ログアウト', destroy_user_session_path, method: :delete
.header-image
