!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "ja", "http-equiv" => "content-language"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js"}
    / %title
    /   = page_title
    = display_meta_tags(default_meta_tags)
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = analytics_init if Rails.env.production?
  %body{class:"#{controller.controller_name}"}
    #wrapper
      = render partial: "layouts/header"
      = yield
      = render partial: "layouts/footer"
